<div style="color: #fff; background: #444444; display: block; width: 100%; padding: 15px; text-align: center;">@gray: #444444</div>
<div style="color: #fff; background: #008881; display: block; width: 100%; padding: 15px; text-align: center;">@green: #008881</div>
<div style="color: #fff; background: #CE00AE; display: block; width: 100%; padding: 15px; text-align: center;">@pink: #CE00AE</div>
