<nav class="primary-nav">
  <ul>
    <li><a href="#" title="About Starfun">About Starfun</a></li>
    <li><a href="#" title="Summer Season 2015" class="active">Summer Season 2015</a></li>
    <li><a href="#" title="Photo Gallery">Photo Gallery</a></li>
    <li><a href="#" title="Contact Us">Contact Us</a></li>
  <ul>
</nav>
