<div class="quote">
  <blockquote>
    <p>"My time at camp has always been great, the counselors became like family as did the campers, and I expanded my horizons. I have always had a great time and learned so much. Many of my favorite summer memories are from my sessions at StarFun"</p>
    <footer>
      <cite>– 6 Year Camper J.D.</cite>
    </footer>
  </blockquote>
</div>
